<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Monofett|Heebo|Press+Start+2P|Bungee+Shade|Montserrat+Subrayada|Bungee+Hairline|Varela+Round|Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>
<body>
    <!-- <div id="cd-stack">
        <img id="cd-1" class="cd" src="{{ url_for('static', filename='images/cd.png') }}" alt="">
        <img id="cd-2" class="cd" src="{{ url_for('static', filename='images/cd.png') }}" alt="">
        <img id="cd-3" class="cd" src="{{ url_for('static', filename='images/cd.png') }}" alt="">
        <img id="cd-4" class="cd" src="{{ url_for('static', filename='images/cd.png') }}" alt="">
    </div> -->
    <div id="name">
            <h1>Patrick Tamayo</h1>
            <h1>web developer</h1>
    </div>    
    <div id="main-section">
        <div id="easy-mode">
            <div id="headers">
                <div>
                    <h2 class="regtext">about_me</h2>
                    <div class="underline"></div>
                </div>
                <div>
                    <h2 class="regtext">projects</h2>
                    <div class="underline"></div>
                </div>
                <div>
                    <h2 class="regtext">contact</h2>
                    <div class="underline"></div>
                </div>
            </div>
            <div id="lbod">
                <p class="bodtext">tech:<span class="boxl">Python, Django, Flask, MySQL, JavaScript</span></p>
                <p class="bodtext">focus:<span class="boxl">backend development</span></p>

                <p class="bodtext">I have a gecko named Pixel</p>
                <p></p>
            </div>
        </div>
        <div id="monitor" class="grow">
            <div id="tiny-green"></div>
            <div id="note-mover">
                <div id="little-post-it"></div>
            </div>
            <div id="screen">    
                <div id="note">
                    <span class="postit">
                        <p id="proj1" class="clicky">helloworld.txt</p>
                    </span>
                </div>
                <div id="main"></div>
            </div>        
        </div>
        <div id="sign">
            <!-- <h3 class="regtext">click Me</h3> -->
        </div>
    </div>
    
    <div id="coffee-space">
        <img class="steam" src="{{ url_for('static', filename='images/coffee/steam/a.png') }}" alt="">
        <img class="steam" src="{{ url_for('static', filename='images/coffee/steam/b.png') }}" alt="">
        <img class="steam" src="{{ url_for('static', filename='images/coffee/steam/c.png') }}" alt="">
        <img class="steam" src="{{ url_for('static', filename='images/coffee/steam/d.png') }}" alt="">
        <img class="steam" src="{{ url_for('static', filename='images/coffee/steam/e.png') }}" alt="">
        
        <img id="coffee" src="{{ url_for('static', filename='images/coffee/cup.png') }}" alt="">
    </div>
    
</body>
</html>

